<div class="row">
   <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <label for="country">Country:</label>
      <select required class="form-control" [(ngModel)]="countryName" name="country"(change)="onCountryChange()"> 
        <option *ngFor="let country of countries" [value]="country.id">{{country.id}}</option>
      </select>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <label for="state">State:</label>
      <select required class="form-control" [(ngModel)]="stateName" name="state" (change)="onStateChange()">
          <option  *ngFor="let state of country.states">{{state}}</option>
      </select>
    </div>
  </div>